<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions should typically be at the top -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <application
        android:label="restaurant"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Your activity configuration is correct -->
        <activity ...>
            <!-- ... -->
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Combine all queries into one queries block -->
    <queries>
        <!-- For text processing -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- For phone calls -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>